body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(40, 40, 25);
}

#calculator {

    font-family: Arial, sans-serif;
    background-color: #f0e68c;
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}

#display {
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: #d3d3d3;
    color: rgb(88, 52, 24);
}

#keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    padding: 25px;
}

button {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: #87390c;
    color: rgb(244, 235, 235);
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #e4cbcb;
}

button:active {
    background-color: #180202;
}

.operator-btn:hover {
    background-color: #120e09;
}
